.post-grid {
    min-height: 1634px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-articles {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.column-1 {
    flex: 1.4;
    max-width: 58%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.column-1__article {
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.column-1__type {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.75%;
    width: 11.9%;
    font-family: "Helvetica Monospace";
    font-size: 10px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: var(--leap-blue);
    color: black;
}

.column-1__text-container {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;

}

.column-1__text-container--leapfrog {
    padding-top: 42.5%;
}

.column-1__text-container--cardekho {
    padding-top: 36%;
}

.column-1__text {
    font-size: 36px;
    font-weight: 500;
}

.column-1__text--leapfrog {
    max-width: 70%;
}

.column-1__text--cardekho {
    max-width: 73%;
}

.column-1__date {
    font-size: 14px;
    font-weight: 300;
}

.column-1__img {
    flex: 1;
}

.column-1__bg-img-container {
    z-index: -1;
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
}

.column-1__bg-img-container--img {
    width: 100%;
}

.column-2 {
    flex: 1;
    max-width: 42%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.column-2__article {
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.column-2__type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
    font-family: "Helvetica Monospace";
    margin-top: 15px;
    margin-left: 15px;
}

.column-2__type--open-img {
    height: 67%;
    width: 6.2%;
}

.column-2__type--indiatimes {
    font-size: 10.2px;
    height: 5.75%;
    width: 35.35%;
    border: 1px solid white;
}

.column-2__type--white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    font-size: 10px;
}

.column-2__type--casestudyasia {
    height: 5.7%;
    display: flex;
    justify-content: flex-start;
}

.column-2__type--case-study {
    height: 100%;
    width: 13.8%;
}

.column-2__type--asia {
    height: 100%;
    width: 7.1%;
}

.column-2__type--video {
    height: 5.7%;
    width: 8%;
}

.column-2__text-container {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    margin-top: 30%;
}

.column-2__text-container--black-text {
    color: black;
}

.column-2__text {
    font-size: 36px;
    font-weight: 500;
}

.column-2__date {
    font-size: 14px;
    font-weight: 300;
}

.column-2__img {
    flex: 1;
}

.column-2__bg-img-container {
    z-index: -1;
    grid-row-start: 1;
    grid-column-start: 1;
}

.column-2__bg-img-container--img {
    width: 100%;
}

.text-articles {
    padding-top: 50px;
    margin-bottom: 15%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
}

.text-articles__article {
    border-top: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.text-articles__type {
    margin-top: 15px;
    height: 9.2%;
    font-family: "Helvetica Monospace";
    display: flex;
    gap: 5px;
}

.text-articles__type--gray-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    font-size: 10px;
}

.text-articles__type--blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--leap-blue);
    font-size: 10px;
}

.text-articles__type--global {
    width: 13%;
}

.text-articles__type--pressrelease {
    width: 22%;
}

.text-articles__type--financialservices {
    width: 25%;
}

.text-articles__type--africa {
    width: 12%;
}

.text-articles__type--open-img {
    height: 61%;
    width: 5.6%;
}

.text-articles__type--indiatimes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10.2px;
    width: 45%;
    border: 1px solid black;
}

.text-articles__type--pressrelease-global {
    width: 35%;
}

.text-articles__type--video {
    width: 10%;
}

.text-articles__text {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
}

.text-articles__text--leapfrog-1 {
    width: 75%;
}

.text-articles__date {
    font-size: 10px;
    font-weight: 400;
    color: #777777;
}