.post-grid {
    min-height: 1634px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-articles {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.column-1 {
    flex: 1.4;
    max-width: 58%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.column-1__article {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-1__type {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 92px;
    font-family: "Helvetica Monospace";
    font-size: 10px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: var(--leap-blue);
    color: black;
}

.column-1__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 68%;
    gap: 5px;
    padding-left: 10px;
}

.column-1__text-container--leapfrog {
    top: 68%;
}

.column-1__text-container--cardekho {
    top: 57%;
}

.column-1__text {
    font-size: 36px;
    font-weight: 500;
}

.column-1__text--leapfrog {
    max-width: 70%;
}

.column-1__text--cardekho {
    max-width: 73%;
}

.column-1__date {
    font-size: 14px;
    font-weight: 300;
}

.column-1__img {
    flex: 1;
}

.column-1__bg-img-container {
    position: relative;
}

.column-1__bg-img-container--img {
    width: 100%;
}

.column-2 {
    flex: 1;
    max-width: 42%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.column-2__article {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-2__type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    font-family: "Helvetica Monospace";
    margin-top: 15px;
    margin-left: 15px;
}

.column-2__type--open-img {
    height: 12px;
    width: auto;
}

.column-2__type--indiatimes {
    font-size: 10.2px;
    height: 20px;
    width: 195px;
    border: 1px solid white;
}

.column-2__type--white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    font-size: 10px;
}

.column-2__type--case-study {
    height: 18px;
    width: 74px;
}

.column-2__type--asia {
    height: 18px;
    width: 38px;
}

.column-2__type--video {
    height: 18px;
    width: 44px;
}

.column-2__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
}

.column-2__text-container--leapfrog-1 {
    top: 52%;
}

.column-2__text-container--biju {
    top: 54%;
}

.column-2__text-container--leapfrog-2 {
    top: 53%;
}

.column-2__text-container--black-text {
    color: black;
}

.column-2__text {
    font-size: 36px;
    font-weight: 500;
}

.column-2__date {
    font-size: 14px;
    font-weight: 300;
}

.column-2__img {
    flex: 1;
}

.column-2__bg-img-container {
    position: relative;
}

.column-2__bg-img-container--img {
    width: 100%;
}

.text-articles {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text-articles__article {
    flex: 1 0 30%;
    border-top: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text-articles__type {
    margin-top: 15px;
    height: 18px;
    font-family: "Helvetica Monospace";
    display: flex;
    gap: 5px;
}

.text-articles__type--gray-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    font-size: 10px;
}

.text-articles__type--blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--leap-blue);
    font-size: 10px;
}

.text-articles__type--global {
    width: 13%;
}

.text-articles__type--pressrelease {
    width: 22%;
}

.text-articles__type--financialservices {
    width: 25%;
}

.text-articles__type--africa {
    width: 12%;
}

.text-articles__type--open-img {
    height: 11px;
    width: auto;
}

.text-articles__type--indiatimes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10.2px;
    height: 20px;
    width: 45%;
    border: 1px solid black;
}

.text-articles__type--pressrelease-global {
    width: 35%;
}

.text-articles__type--video {
    width: 10%;
}

.text-articles__text {
    font-size: 28px;
    font-weight: 500;
}

.text-articles__text--leapfrog-1 {
    width: 75%;
}

.text-articles__date {
    font-size: 10px;
    font-weight: 400;
    color: #777777;
}