.content {
    flex: 1;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-articles {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.column-1 {
    flex: 1.4;
    max-width: 58%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.column-1__article {
    /* flex: 1; */
    position: relative;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-1__type {
    position: absolute;
    height: 18px;
    width: 92px;
    padding-top: 15px;
    padding-left: 15px;
}

.column-1__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 82%;
    gap: 5px;
    padding-left: 10px;
}

.column-1__text {
    font-size: 36px;
    font-weight: 500;
}

.column-1__date {
    font-size: 14px;
    font-weight: 300;
}

.column-1__img {
    flex: 1;
}

.column-1__article--bg-img {
    /* width: 770px;
    height: 471px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.column-1__bg-img-test {
    position: relative;
}

.column-1__bg-img-test--img {
    width: 100%;
}

.column-2 {
    flex: 1;
    max-width: 42%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.column-2__article {
    /* flex: 1; */
    position: relative;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-2__type {
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
}

.column-2__type--indiatimes {
    height: 5%;
    width: 37%;
}

.column-2__type--casestudy-asia {
    height: 6%;
    width: 22%;
}

.column-2__type--video {
    height: 5%;
    width: 8%;
}

.column-2__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65%;
    gap: 5px;
    padding-left: 10px;
}

.column-2__text-container--black-text {
    color: black;
}

.column-2__text {
    font-size: 36px;
    font-weight: 500;
}

.column-2__date {
    font-size: 14px;
    font-weight: 300;
}

.column-2__img {
    flex: 1;
}

.column-2__article--bg-img {
    /* width: 770px;
    height: 471px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.column-2__bg-img-test {
    position: relative;
}

.column-2__bg-img-test--img {
    width: 100%;
}

.text-articles {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text-articles__article {
    flex: 1 0 30%;
    font-size: 28;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}