.footer {
    display: grid;
    grid-template-columns: 1fr;
}

.footer__bg-img-container {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
}

.footer__bg-img-container--img {
    flex: 1;
    height: 100%;
    max-width: 100vw;
}

.footer__latest-investments {
    grid-row-start: 1;
    grid-column-start: 1;
    margin-bottom: 48%;
    margin-left: 4.4%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: "Helvetica Monospace";
    font-size: 18px;
}

.footer__latest-investments-arrow {
    width: 14px;
    height: 14px;
}

.tabs {
    margin-top: 6.5%;
    margin-left: 5%;
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.tabs__block {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 669px;
    height: 693px;
}

.tabs__block--rotate-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Helvetica Monospace";
    color: white;
    font-size: 18px;
    transform: rotate(-90deg);
}

.tabs__block--text {
    margin-left: 10px;
}

.tabs__block--orange {
    background-color: #F29C4D;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabs__block--light-brown {
    background-color: #AA542E;
    margin-left: 2%;
}

.tabs__block--brown {
    background-color: #803D1E;
    margin-left: 4%;
}

.tabs__block--dark-brown {
    background-color: #56250F;
    margin-left: 6%;
}

.tab-text {
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    color: black;
    font-family: "Helvetica Now Display";
    padding-left: 4%;
    padding-right: 3%;
}

.tabs__big-text--short-line-height {
    line-height: 70px;
}

.tabs__big-text {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 400;
    gap: 50px;
}

.tabs__little-text {
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 500;
    padding-top: 165px;
}