.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header--bg-img {
    background-image: url("./assets/images/floating-market-2.png");
    background-size: cover;
    flex: 1;
    /* max-width: 100%; */
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-height: 10%;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar__left {
    margin-top: 33px;
}

.navbar__right {
    display: flex;
    gap: 40px;
    margin-top: 38px;
}

.navbar__button {
    font-size: 18px;
}

.navbar__button--no-bg {
    border: none;
    background: none;
    color: white;
    font-weight: 500;
}

.navbar__button--bg {
    border: none;
    outline: black;
    background-color: var(--leap-blue);
    padding: 8px;

}

.tagline {
    padding-bottom: 15%;
    padding-left: 50px;
}

.tagline__text {
    font-weight: 400;
    font-size: 70px;
    color: white;
}

.stats {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    color: white;
}

.stats__large-text {
    font-size: 70px;
    font-weight: 400;
}

.stats__small-text {
    font-size: 22px;
    font-weight: 500;
}