* {
    margin: 0;
    padding: 0;
}

:root {
    --leap-blue: #25E6F2;
}

/* .container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    font-family: "Helvetica Now Display";
} */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 900px 75% 25%;
    height: 100%;
    font-family: "Helvetica Now Display";
}